body {
    background-color: #333;
    animation: samebg 4s linear 6.5s, colorchangebg 1.5s linear 10.5s forwards;
    /* margin: 0;
    padding: 0; */
}

.container {
    border-color: orange;
    border-radius: 6px;
    border-style: solid;
    position: fixed;
    inset: 0px;
    width: 80vw;
    height: 23%;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    transform: translateY(-2px);
    animation: boxin 2s ease-in-out, outro .30s linear 2.75s, Hide 1s linear 3s infinite;
    text-align: center;


}

.hello {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    animation: invisible 2s linear, Hello .30s linear 1.9s;
    font-size: 17.16vw;
    line-height: 32.2vw;
    color: #fff;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.gyanvi {
    font-family: "pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    animation: invisible 2s linear, Gyanvi .30s linear 1.9s;
    font-size: 11.73vw;
    line-height: 9.33vw;
    color: #ffa500;
}


/* Slide2 css rules */

.today,
.is,
.your {
    color: #fff;
    font-family: "Emilys Candy", cursive;

}

.day {
    color: #ffa500;
    font-family: "Emilys Candy", cursive;

}

.slide2 {
    animation: Hidden 1s linear 2.79s;
    float: 50% 50%;
}

.today,
.is,
.your {
    color: #fff;
    font-family: "Playfair Display", cursive;
    font-size: 13.34vw;
    visibility: hidden;

}

.day {
    color: #ffa500;
    font-family: "Playfair Display", cursive;
    font-size: 13.34vw;
    visibility: hidden;
}

.slide2 {
    position: fixed;
    inset: 0px;
    width: 80vw;
    height: 23%;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    text-align: center;
}

.today {
    animation: dropIn .75s ease-out 3.5s forwards, Hide 1s linear 6.5s infinite;
}

.is {
    animation: dropIn .75s ease-out 3.75s forwards, Hide 1s linear 6.5s infinite;
}

.your {
    animation: dropIn .75s ease-out 4.02s forwards, Hide 1s linear 6.5s infinite;
}

.day {
    animation: dropIn .75s ease-out 4.70s forwards, Hide 1s linear 6.5s infinite;
}

/* slide3 css rules */
.lets,
.celebrate {
    visibility: hidden;
}

.slide3 {
    position: fixed;
    inset: 0px;
    width: 90vw;
    height: 23%;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    text-align: center;
}

.lets,
.celebrate {
    color: #fff;
    font-size: 22.22vw;
    font-family: "DM Serif Text";
}

.lets {
    animation: slide3 1s ease-in-out 7s forwards, outro1 1s ease-out 9.5s forwards, Hide 1s linear 10.5s forwards;
}

.celebrate {
    animation: slide32 1s ease-in 7.5s forwards, outro2 1s ease-out 9.5s forwards, Hide 1s linear 10.5s forwards;
}

/* Slide 3 css rules */

.slide3 {
    position: fixed;
    inset: 0%;
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    text-align: center;
    animation: gif 1s ease-in-out 11.5s forwards, rotate 1s ease-in-out 12.5s forwards, Fadeout .75s linear 14s forwards;
    visibility: hidden;

}

.random {
    color: white;
    border-left: 3px solid white;
    padding-left: 8px;
    margin: 0;
    z-index: 1;

}

.slide4 {
    margin: auto;
    padding: 0;
    inset: 0px;
    background: blue;
    width: 0%;
    height: 0vh;
    position: fixed;
    text-align: center;
    animation: last 2s ease-in-out 14.25s forwards;
}

.last-container {
    margin: auto;
    padding: 0;
    inset: 0px;
    background: white;
    position: fixed;
    text-align: center;
    height: 0vh;
    width: 0%;
    animation: white-box 1s ease-out 16.20s forwards, bgchanger 5s linear 16.75s forwards;
}

#myvideo {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.video {
    text-align: center;
    position: fixed;
    inset: 0;
    height: 100vw;
    margin: auto;
    visibility: hidden;
    animation: gif 1s ease-in-out 16.75s forwards, rotate2 1s ease-in-out 16.75s forwards;
}

.footer {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
}